<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>entregarActividadEstu</title>
  </head>
  <body>
    <h1><%= data.nameActivity %></h1>

    <h3><%= data.descActivity %></h3>

    <form action="/home/crearRecordActivity" method="POST">
      <input type="text" name="deliverableActivity" />
      <button type="submit">Enviar</button>
      <input type="text" value="<%= data.idActivity %>" name="idActivity" style="opacity: 0" />
      <input type="text" value="<%= data.idClass %>" name="idClass" style="opacity: 0" />
      <input type="text" value="<%= data.nameClass %>" name="nameClass" style="opacity: 0" />
      <input type="text" name="idUser" id="idUser" style="opacity: 0" />
    </form>

    <script>
      document.getElementById("idUser").value = sessionStorage.getItem("id");
    </script>
  </body>
</html>
