<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilosHomeUser.css">
    <title>HomeProfesor</title>
</head>

<body>
    <header>
        <div id="header-icon">
            <p id="titulo">Gamificación Profesor <%= nombre %>
            </p>
            <div id="marco-icono">
                <img src="/images/iconoHomeUser.svg" alt="imagen" id="icono">
            </div>
        </div>

        <div id="header-button">
            <form action="/home/crearCurso" method="POST">
                <button type="submit">Nuevo curso</button>
            </form>

        </div>


    </header>

    <section id="contenido">

        <div id="segmento-inicio">
            <div id="contenedor-cursosTitulo">
                <h1 id="cursosTitulo">Cursos</h1>
            </div>

            <div id="contenedor-cursos">
                <% if (objeto.nameClass !="" ) { %>
                    <% for (var i=0; i < objeto.length; i++) { %>
                        <form action="/home/mostrarCurso" method="POST">
                            <button type="submit" id="cursos">
                                <%= objeto[i].nameClass %>
                            </button>
                            <input type="text" value="<%= objeto[i].idClass %>" name="idClass" style="opacity: 0;">
                        </form>
                        <% } %>
                            <% } %>
            </div>



        </div>




    </section>




    <script>
        sessionStorage.setItem("id", "<%= idUser %>");
        sessionStorage.setItem("nombre", "<%= nombre %>");

        //document.getElementById("idUser").value = sessionStorage.getItem("id");            

    </script>

</body>

</html>

<!--
            <form action="/home/mostrarCurso" method="post" id="lol" name="lol">
                <input type="text" name="idUser" id="idUser" style="opacity: 0;">
                <button type="submit" >enviar</button>
                
            </form>-->