<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilosHomeUser.css">
    <title>HomeEstudiante</title>
</head>

<body>
    <header>
        <div id="header-icon">
            <p id="titulo">Gamificación Estudiante <%= nombre %> </p>
            <div id="marco-icono">
                <img src="/images/iconoHomeUser.svg" alt="imagen" id="icono">
            </div>
        </div>

        <div id="header-button">
            <form action="/home/buscarCurso" method="POST">
                <input type="text" name="nameClass" placeholder="Nombre Curso">
                <button type="submit">Buscar</button>                                               
            </form>
            
        </div>

    
    </header>

    <section id="contenido">

        <div id="segmento-inicio">
            <div id="contenedor-cursosTitulo">
                <h1 id="cursosTitulo">Cursos</h1>       
            </div>
            

            <div id="contenedor-cursos">
                <% if (objeto.nameClass != "") { %>
                    <% for (var i = 0; i < objeto.length; i++) { %>
                        <form action="/home/mostrarCursoEstu" method="POST">
                        <button type="submit" id="cursos"><%= objeto[i].nameClass %></button>                        
                        <input type="text" value="<%= objeto[i].idClass %>" name="idClass" style="opacity: 0;">
                        <input type="text" value="<%= objeto[i].nameClass %>" name="nameClass" style="opacity: 0;">
                        <input type="text" value="<%= idUser %>" name="idUser" style="opacity: 0;">                        
                        </form>
                    <% } %>    
                <% } %>
            </div>

        </div>
    </section>

    <form action="/home/subirArchivo" method="POST" enctype="multipart/form-data">
        <input type="file" name="archivo" >
        <input type="submit" value="Enviar">    
    </form>



    
    <script>
        sessionStorage.setItem("id", "<%= idUser %>");        
        sessionStorage.setItem("nombre", "<%= nombre %>");              
        
    </script>
  
</body>
</html>
